// breakpoints
$desktop: 1200px;
$mobile: 767px;  // mobile 767px and less 
$mobile-small: 479px;
$tablet: 1025px; // tablet 1025px {desktop - 1} and less 

// breakpoints mixin
@mixin breakpoint($rule){
 @media only screen and (max-width: #{$rule}){
     @content;
    }  
}

/// breakpoints mixin usage
/// selector{
///   height:100px;
///   @include breakpoint($tablet){
///     height:50px;
///   }
/// }


// clearfix
%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// reset for list
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// hide text
@mixin hide-text {
  overflow: hidden;
  text-indent: -9999px;
}

// placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {opacity: 1; @content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &.placeholder {@content}
}

// full width
%full-width {
  padding-left: 9999px;
  padding-right: 9999px;
  margin-left: -9999px;
  margin-right: -9999px;
}

@mixin blue-button {
  display:inline-block;
  vertical-align:top;
  background:$blue;
  color:$white;
  border-radius:3px;
  padding:4px 16px 6px 18px;
  font:15px/18px $base-font-family;
  @include breakpoint($mobile-small) {
    padding:5px 10px 7px;
  }
  &:hover {
    background:$dark-blue;
    color:$white;
  }
}

@mixin cover {
  background-size:cover;
  background-position:50% 0;
  background-repeat:no-repeat;
}
@mixin centered {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
@mixin slideshow-height {
  height: 370px;
  @include breakpoint($desktop) {
    height: 300px;
  }
  @include breakpoint($tablet) {
    height: 250px;
  }
  @include breakpoint($mobile) {
    height: 200px;
  }
  @include breakpoint($mobile-small) {
    height: 108px;
  }
}